<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trainer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @trainer.email %>
</p>

<p>
  <b>Pricerange:</b>
  <%= @trainer.priceRange %>
</p>

<p>
  <b>Phone:</b>
  <%= @trainer.phone %>
</p>

<p>
  <b>Citiesserved:</b>
  <%= @trainer.citiesServed %>
</p>

<p>
  <b>Certs:</b>
  <%= @trainer.certs %>
</p>

<p>
  <b>Education:</b>
  <%= @trainer.education %>
</p>

<p>
  <b>Specialty:</b>
  <%= @trainer.specialty %>
</p>

<p>
  <b>Bio:</b>
  <%= @trainer.bio %>
</p>

<p>
  <b>Philos:</b>
  <%= @trainer.philos %>
</p>

<p>
  <b>Rating:</b>
  <%= @trainer.rating %>
</p>

<p>
  <b>Lat:</b>
  <%= @trainer.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @trainer.lon %>
</p>

